@font-face {
  font-family: "FTAktual";
  src: url("../fonts/FTAktualTrial-Medium.woff") format("woff");
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("../fonts/OverusedGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("../fonts/OverusedGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}